body {
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;
  vertical-align: baseline;
  background: #ffffff;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #212121;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
p {
  line-height: 1.5;
  margin: 0 0 20px 0;
}
.react-pdf__Page { pointer-events: auto !important; }
.react-pdf__Page canvas { pointer-events: none; }